@page "/"

@using Microsoft.Extensions.Localization

@inject IStringLocalizer<Texts> Localizer

<div class="card pt-5 pb-5">
	<div class="card-body text-center">
		<h2 class="display-3">@this.Localizer["Personal"]</h2>
	</div>
</div>
<div class="container-fluid p-auto pt-5 pb-5">
	<div class="card ms-auto me-auto">
		<div class="card-body text-center">
			<p class="card-title">@this.Localizer["IndexCardTitle"]</p>
			<p class="card-text">@this.Localizer["IndexCardSubtitle"]</p>
		</div>
	</div>
</div>