@using Microsoft.Extensions.Localization

@inject IStringLocalizer<Texts> Localizer

@inherits LayoutComponentBase

<header>
	<Header />
</header>
<main>
	@Body
</main>
<footer>
	<Footer />
</footer>
